---
layout: default
title: Blog
---
<h1>Itinerary</h1>

<div class="post-div">
<h3>Past Stops</h3>
<ul>
  {% for post in site.posts reversed %}
  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
  {% if posttime < nowunix %}

  {% include post-desc.html post=post %}
  {% endif %}
  {% endfor %}
</ul>
<h3>Upcoming Stops</h3>
<ul>
    {% for post in site.posts reversed %}
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
    {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
    {% if posttime > nowunix %}
    {% include future_stop.html post=post %}
    {% endif %}
    {% endfor %}
  </ul>
</div>