---
layout: about
title: Blog
---
<h1>Logbook</h1>

<ul style='text-align:center; padding:0px'>
  <!-- {% for post in site.posts reversed %}
  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
  {% if posttime < nowunix %}

  {% include post-desc.html post=post %}
  {% endif %}
  {% endfor %} -->

  {% for post in site.posts %}
  {% if post.categories contains 'done' %}
  {% include post-desc.html post=post %}
  {% endif %}
  {% endfor %}  

</ul>
