---
layout: about
---

<!-- <div class="FeaturedImgBanner" {% if page.img %} style="background-image: url('{{site.url}}/{{ page.img }}');" {% endif %}> -->
    <h1>{{ page.title }}</h1>
    <p style="text-align:center">
        {{ page.date | date_to_string }}
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
            - <a href="{{ author.url }}">{{ author.name}} </a>
        {% endif %}
    </p>
<!-- </div> -->


{{ content }}

<div class="PageNavigation">
        {% if page.previous.url and page.previous.categories contains 'done' %}
          <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url and page.next.categories contains 'done' %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
</div>
      